.btn {
  border-radius: $borderRadius;
  padding: 9px 18px;
  font: normal normal 500 15px/20px GraphikRegular, sans-serif;
  text-transform: uppercase;

  @media all and (max-width: 768px) {
    font: normal normal 500 8px/11px GraphikRegular,
      sans-serif;
  }
}

.btn-lg {
  padding: 12px 24px;
}



.btn-secondary {
  background-color: $secondary;
  border-color: $secondary ;
  color: $white;

  &:hover {
    background-color: $primary;
  }
}


// Variable Button 
@mixin variable-button($bgColor, $borderColor, $color) {
  background-color: $bgColor;
  border-color: $borderColor ;
  color: $color;
  border-radius: 0;
  position: relative;
}


@mixin variable-button-hover($hoverBg, $hoverText, $image) {
  &::before {
    position: absolute;
    content: "";
    right: -14px;
    bottom: -14px;
    width: 155px;
    height: 54px;
    background-image: $image;
    transition: all 0.5s ease-in-out
  }

  &:hover {
    background-color: $hoverBg;
    color: $hoverText;

    &::before {
      opacity: 0;
      transition: all 0.5s ease-in-out
    }
  }
}

.btn-primary {
  @include variable-button($primary, $primary, $white, );
  @include variable-button-hover($secondary, $white, url("../assets/images/button-lines.dark.png"));
}

.btn-light {
  @include variable-button($white, $white, $primary);
  @include variable-button-hover($secondary, $white, url("../assets/images/button-lines.png"));
}

.btn-light-rounded {
  @include variable-button($white, $white, $primary);
  border-radius: 60px;
  padding: 12px 24px;
  @include variable-button-hover($primary, $white, '');
  font-family: GraphikSemibold,
    sans-serif;
}

.btn-danger {
  @include variable-button($white, $white, $primary);
  @include variable-button-hover($danger, $white, url("../assets/images/button-lines.png"));
}

.transparent-btn {
  background-color: transparent;
  color: $primary;
  padding: 0;
  font-weight: 700;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    background-color: $borderLightColor;
    width: 20px;
    height: 12px;
    bottom: 0px;
    left: -8px;
    z-index: -1;
    transition: all 0.5s ease-in-out;
  }

  &:hover {
    &::before {
      bottom: 70%;
      left: 90%;
      transition: all 0.5s ease-in-out;
    }
  }
}