.btn {
  border-radius: $borderRadiusSm;
  padding: 10px 20px;
  font: normal normal normal 15px/20px GraphikRegular, sans-serif;
  text-transform: uppercase;
}

.btn-primary {
  background-color: $secondary;
  border-color: $secondary ;
  color: $white;
}