@import "variables.scss";
@import "mixinx";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "typography.scss";
@import "layout.scss";
@import "overrides.scss";



// @media (min-width: 1200px) {

//   .container,
//   .container-lg,
//   .container-md,
//   .container-sm,
//   .container-xl {
//     max-width: 1280px;
//   }
// }

// ******** Utility Classes ********

.text-danger {
  color: $danger !important;
}

.text-grey {
  color: $gray;
}

.text-black {
  color: $black !important;
}

.text-primary {
  color: $primary !important;
}

.bg-primary {
  background: $primary !important;
}

.bg-secondary {
  background: $secondary !important;
}

.badge {
  padding: 4px 6px !important;
  border-radius: $borderRadiusSm !important;
}


// ******** Section Heading ********

.heading-image-wrapper {
  position: relative;
  margin-right: -15px;

  @media all and (max-width:768px) {
    top: 15px;
  }

  @media all and (max-width:575px) {
    position: relative;
    margin-right: -15px;
    top: 20px;
  }
}

.main-heading-wrapper {
  @media all and (min-width:991px) {
    &::before {
      position: absolute;
      content: '';
      background-image: url('../assets/images/heading-image.png');
      width: 68px;
      height: 60px;
      left: -45px;
      top: 15px;
    }
  }
}

.logo {
  max-width: 170px;
}

// ******** Hero Section ********

.hero {

  p {
    font: normal normal 600 30px/39px GraphikThin, sans-serif;

    span {
      font-family: GraphikRegular, sans-serif;
    }

    @media all and (max-width:767px) {
      font: normal normal 600 10px/13px GraphikThin,
        sans-serif;
    }
  }

  form {
    max-width: 600px;
  }

  .drawing-type-wrapper {
    background: $bgdark;
    max-width: 1000px;
    margin: auto;

    img {
      mix-blend-mode: darken;
    }

    h6 {
      font: normal normal 600 15px/15px GraphikSemibold, sans-serif !important;
      color: $black;

      @media all and (max-width:767px) {
        font: normal normal 600 10px/11px GraphikSemibold,
          sans-serif !important;
      }
    }

    p {
      font: normal normal 500 12px/15px GraphikRegular, sans-serif;

      @media all and (max-width:767px) {
        font: normal normal 500 7px/11px Graphik;
      }
    }
  }
}



// ******** Project of the day ********

.project-day-card {
  background: $white 0% 0% no-repeat padding-box;
  border: 1px solid $borderLightColor;
  border-radius: $borderRadiusLg;
  padding: 14px;
  cursor: pointer;

  .action-buttons-wrapper {
    visibility: hidden;
    transition: all 0.5 ease-in-out;
  }

  &:hover {
    .action-buttons-wrapper {
      visibility: visible;
      transition: all 0.5 ease-in-out;
    }

    .project-day-card-image {
      &:before {
        width: 100%;
        height: 100%;
        transition: all 0.3 ease-in-out;
      }
    }

    .project-day-card-link {
      position: relative;

      p {
        color: $secondary;
      }
    }
  }

  .project-day-card-image {
    height: 250px;
    width: 100%;
    position: relative;
    border-radius: $borderRadiusLg;
    overflow: hidden;

    &:before {
      position: absolute;
      content: '';
      inset: 0;
      width: 0%;
      height: 0%;
      background-color: $overRealy;
      transition: all 0.3s ease-in-out;
    }

    img {
      border: 1px solid $borderLightColor;
      height: 100%;
      object-fit: cover;
    }
  }

  .project-day-card-description {
    border-left: 4px solid $gray;

    span {
      font: normal normal 500 12px/1 GraphikRegular, sans-serif;
    }

    p {
      max-width: 28ch;
    }
  }

  .project-day-card-link {
    position: relative;

    p {
      color: $black;
      font: normal normal 600 15px/20px GraphikRegular, sans-serif;
      background-color: $white;
      position: relative;
      display: inline-block;
    }

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      inset: 0;
      margin: auto;
      background: $borderColor;
    }

  }
}


.category-wrapper {
  h6 {
    font: normal normal 600 16px/1 GraphikMedium, sans-serif;
    color: $black;

    @media all and (max-width:767px) {
      font: normal normal 600 14px/1 GraphikMedium, sans-serif;
    }
  }
}